.App {
  text-align: center;
}

.card-body {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.card {
  top: 4em;
}

.width_input {
  width: 40em;
}


.buttonCadastrar {
  text-align: center;
}

.table {
  border: ridge;
}

@media screen and (max-width: 1024px) {
  .width_input {
    width: 37em;
  }
}

@media screen and (max-width: 576px) {
  .width_input {
    width: 12em;
  }
}